.news-item {
  padding: 25px;
  margin: 10px auto;
  width: 90vw;
  display: flex;
  align-items: center;
}

.votes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-content {
  margin: 0 20px 5px;
  padding: 5px;
  vertical-align: middle;
  position: static;
}

img {
  align-self: auto;
  display: block;
  border-radius: 20%;
  border-style: solid;
  border-width: 5px;
  border-color: cadetblue;
  width: 150px;
  height: 150px;
}
