<div class="news-item">
  <div class="left-column">
    <img [src]="news.imageUrl" />
    <button
      type="button"
      class="btn btn-danger btn-sm"
      style="margin-top: 5px;"
      (click)="remove()"
    >
      Delete news
    </button>
  </div>

  <div class="content">
    <div>
      <h3 class="text-content">{{ news.title }}</h3>
      <p class="text-content">{{ news.content }}</p>
    </div>
  </div>

  <div class="votes">
    <h4>Votes</h4>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-success" (click)="plus()">+</button>
      <button type="button" class="btn btn-danger" (click)="minus()">-</button>
    </div>
    <h4>{{ news.id }}</h4>
  </div>
</div>
